h1{
    color : red;
}
  #home-intro{
    text-align: center;

    /* border: 5px;
    //border-color: black;
    border-style: solid;*/
    border: 5px solid navy;
  }
     #home-intro:hover{
        background-color: palevioletred;
     }
    #p2{
        color: blue;
    }

    #nav{
        text-align: center;
        background-color: brown;
        height: 25px;
        padding-top: 5px;
        margin-bottom: 5px;
    }

    #nav a{
        margin: 0px 5px;
        text-decoration: none;
        color: white;
    }
    #card{
        align-items: center;
        margin-top: 5px;
        border:3px solid black;
        width: 300px;
        height: 580px;
        margin: 3px auto;
    }
    #card-img{
        width: 300px;
        height: 300px;
        align-items: center;
        margin: 0px auto;
    }
     img{
        width: 300px;
        height: 300px;
    }
  
    #action{
        text-align: center;
    }
    button{
        width: 300px;
    }