h1{
    color : red;
}

  #home-intro{
     text-align: center;

    /*border: 3px;
    border-color: black;
    border-style: solid*/
     border: 3px solid yellow;
  }
    #home-intro:hover {
        background-color: blueviolet;
    }

#p2{
 color: blue;
}

